<div class="container">
<label for="city">City
    <input ng-model="SearchCtrl.srchObject.city"></input>
</label>
<label for="MinRent">Minimum Rent
    <input type="number" ng-model="SearchCtrl.srchObject.minPrice"></input>
</label>
<label for="MaxRent">Maximum Rent
    <input type="number" ng-model="SearchCtrl.srchObject.maxPrice"></input>
</label>
<label for="zipCode">Zip Code
    <input type="number" ng-model="SearchCtrl.srchObject.zipCode"></input>
</label>
<button type="button" class="btn btn-primary" ng-click="SearchCtrl.search(SearchCtrl.srchObject)">Search Listings</button>
</div>

<!--<div class="container">
<button type="button" ng-click="SearchCtrl.convert(SearchCtrl.user)">Find UserName</button>
<input type="number" ng-model="SearchCtrl.user"></input>
<p>{{SearchCtrl.ListerName}}</p>
</div>-->
<button type="button" class="btn btn-primary" ng-click="SearchCtrl.expand()">Show Full Listings</button>
<div class="panel-body">

   <ol class="list-group" ng-show="SearchCtrl.showResults" ng-repeat="listing in SearchCtrl.Results">
        <li class="list-group-item">Address: {{listing.address}}</li>
        <li class="list-group-item">Location: {{listing.city}},{{listing.state}}</li>
        <li class="list-group-item">Rent: {{listing.price}}</li>
        <li class="list-group-item" ng-show="SearchCtrl.fullListing">Description: {{listing.description}}</li>
        <li class="list-group-item" ng-show="SearchCtrl.fullListing">Zip Code: {{listing.zipcode}}</li>
        <li class="list-group-item" ng-show="SearchCtrl.fullListing">Pictures: {{listing.picture}}</li>
        <!--<li class="list-group-item" ng-show="SearchCtrl.fullListing" >Poster: {{listing.userId}}</li>-->
        <button type="button" ng-click="SearchCtrl.contactLister(listing.userId)" ng-show="SearchCtrl.fullListing">Contact Landlord</button>
</div>