<div class="container" ng-show="SignInCtrl.Registration">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h2>New User Registration</h2>
            <form ng-submit="SignInCtrl.register(SignInCtrl.nameObject)">
                <!-- UserName -->
                <div class="form-group">
                    <label for="validate-text">User Name</label>
                    <div class="input-group" data-validate="text">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Create Username" ng-model="SignInCtrl.nameObject.UserName"
                            required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!--Email-->
                <div class="form-group">
                    <label for="validate-email">Email</label>
                    <div class="input-group" data-validate="email">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" required ng-model="SignInCtrl.nameObject.Email">
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!-- Phone -->
                <div class="form-group">
                    <label for="validate-phone">Phone</label>
                    <div class="input-group" data-validate="phone">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="(814) 555-1234" required ng-model="SignInCtrl.nameObject.Phone">
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!-- ZipCode -->
                <div class="form-group">
                    <label for="validate-number">Zip Code</label>
                    <div class="input-group" data-validate="number">
                        <input type="number" class="form-control" name="phone" id="phone" placeholder="92119" required ng-model="SignInCtrl.nameObject.ZipCode">
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!-- Birth Date -->
                <div class="form-group">
                    <label>Birth Date</label>
                    <div class="input-group">
                        <input id="date" type="date" ng-model="SignInCtrl.nameObject.birthdate"><br>
                    </div>
                </div>
                <!-- Landlord -->
                <div class="form-group">
                    <label for="validate-text">Are You a Landlord?</label>
                    <div class="input-group">
                        <input type="radio" name="ownerRenter" ng-model="SignInCtrl.nameObject.Landlord" value="true">Landlord
                        <br>
                        <input type="radio" name="ownerRenter" ng-model="SignInCtrl.nameObject.Landlord" value="false">Renter
                        <br>
                    </div>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="validate-text">Create a New Password</label>
                    <div class="input-group">
                        <!--data-validate="text">-->
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required ng-model="SignInCtrl.nameObject.Password"
                            required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-xs-12">Submit</button>
                <button id="fbButton" class="btn btn-primary btn-sm" fb-login type="button">LOG IN WITH FACEBOOK</button>
            </form>
        </div>
    </div>
</div>
</div>

<div ng-show="SignInCtrl.Login">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="SignInCtrl.sObject.username" placeholder="Username" required="" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="SignInCtrl.sObject.password" placeholder="Password" required="" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="SignInCtrl.signIn(SignInCtrl.sObject)">Login</button>
            <span class="text-danger">{{error}}</span>
        </div>
    </div>
</div>
<button ng-click="SignInCtrl.Switch()">{{SignInCtrl.button}}</button>
</div>
</div>