<div class="container" ng-show="SignInCtrl.Registration">
    <div class="row">
        <div  id="box" style="margin-bottom: 20px;" class="col-xs-12">
            <h1 style="text-align: center;">New User Registration</h1>
        </div>
    </div>

<div id="box">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <form ng-submit="SignInCtrl.register(SignInCtrl.nameObject)">
                <!-- UserName -->
                <div class="form-group">
                    <label for="validate-text">User Name</label>
                    <div class="input-group" data-validate="text">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Create Username" ng-model="SignInCtrl.nameObject.UserName"
                            required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
                <!--Email-->
                <div class="form-group">
                    <label for="validate-email">Email</label>
                    <div class="input-group" data-validate="email">
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="SignInCtrl.nameObject.Email" required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <!-- Phone -->
            <div class="form-group">
                <label for="validate-phone">Phone</label>
                <div class="input-group" data-validate="phone">
                    <input type="number" class="form-control" id="phone" placeholder="92119" ng-model="SignInCtrl.nameObject.ZipCode" required>
                    <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>
            <!-- ZipCode -->
            <div class="form-group">
                <label for="validate-number">Zip Code</label>
                <div class="input-group" data-validate="number">
                    <input type="number" class="form-control" id="phone" placeholder="92119" ng-model="SignInCtrl.nameObject.ZipCode" required>
                    <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>
        </div>

        <!-- Password -->
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="validate-text">Create a New Password</label>
                <div class="input-group">
                    <!--data-validate="text">-->
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="SignInCtrl.nameObject.Password"
                        required>
                    <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <!-- Birth Date -->
                <div class="form-group">
                    <label>Birth Date</label>
                    <div class="input-group">
                        <input id="date" type="date" ng-model="SignInCtrl.nameObject.birthdate"><br>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <!-- Landlord -->
                <div class="form-group">
                    <label for="validate-text">Are You a Landlord?</label>
                    <div class="input-group">
                        <input type="radio" name="ownerRenter" ng-model="SignInCtrl.nameObject.Landlord" value="true">Landlord
                        <br>
                        <input type="radio" name="ownerRenter" ng-model="SignInCtrl.nameObject.Landlord" value="false">Renter
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center" class="col-sm-4">
            <p>
    <button id="box" type="submit" class="btn btn-default">Submit</button>
    </p>
        </div>
    </div>
    </div>
    <!--<button id="fbButton" class="btn btn-primary btn-sm" fb-login type="button">FACEBOOK</button>-->
    <!--<button ng-click="SignInCtrl.Switch()">Go Back</button>-->
    <h1><a ui-sref="register"><i class="fa fa-arrow-left" aria-hidden="true" ng-click="SignInCtrl.Switch()"></i></a></h1>
    </form>



</div>
</div>
</div>
</div>

<div class="col-sm-12">
    <div ng-show="SignInCtrl.Login">
        <div class="row" ng-show="SignInCtrl.SignedIn">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="SignInCtrl.sObject.username" placeholder="Username" required="" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="SignInCtrl.sObject.password" placeholder="Password" required="" />
                </div>
            </div>
            <div class="col-sm-2">
                <div id="logInBtn" class="form-group">
                    <button id="logInBtn" class="btn btn-default" ng-click="SignInCtrl.signIn(SignInCtrl.sObject)">Sign In</button>
                </div>
            </div>
        </div>
        <div>
            <h1 id="book"> Discover Your Next Adventure </h1>
            <h3 id="sign"> Sign In or <button ng-click="SignInCtrl.Switch()">{{SignInCtrl.button}}</button> With Us Today to Get Started</h3>
            <div class="form-group">
                <div class="row-fluid">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="null">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="app\Styles\imgs\cabin.jpg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\beachhouse.jpg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\home.jpeg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\caramel.jpg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\beach.jpeg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\woman.jpeg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="app\Styles\imgs\modern.jpg" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>