<head>
    <title>Add Listing</title>
</head>
<body>
    <div class="well">
        <!--Complete form to add a listing-->
        <form>
            <div class="form-group">
                <label>Description</label>
                <div class="input-group">
                    <input type="text" ng-model="AddListCtrl.listObject.description" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>Price</label>
                <div class="input-group">
                    <input type="number" ng-model="AddListCtrl.listObject.price" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>Address</label>
                <div class="input-group">
                    <input type="text" ng-model="AddListCtrl.listObject.address" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>City</label>
                <div class="input-group">
                    <input type="text" ng-model="AddListCtrl.listObject.city" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>State</label>
                <div class="input-group">
                    <input type="text" ng-model="AddListCtrl.listObject.state" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>ZipCode</label>
                <div class="input-group">
                    <input type="text" ng-model="AddListCtrl.listObject.zipcode" required></input>
                </div>
            </div>
            <div class="form-group">
                <label>Image</label>
                <div class="input-group">
                    <button class="btn btn-default" ng-model="AddListCtrl.listObject.picture" ng-click="AddListCtrl.pickFile()">Upload a photo</button>
                    <!--<img src="{{AddListCtrl.listObject.picture}}" class="img-thumbnail">-->
                    <!--Unable to get freshly add image to preview on page-->
                </div>
            </div>
            <div>
                <button class="btn btn-warning" type="button" ng-click="AddListCtrl.addListing(AddListCtrl.listObject)">Add Your Listing</button>
            </div>
        </form>
    </div>
</body>

