.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: wheat;
    color: darkblue;
}

.topnav a.active {
    background-color: wheat;
    color: darkblue;
}

#MainTitle {
    text-align: center;
}