.topnav {
    background-color: orangered;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Architects Daughter', cursive;
}

#fbButton {
    padding: 5%;
    border-radius: 5%;
    box-shadow: black 5px 5px 5px;
    margin: 20% 20%;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: red;
    color: black;
}

.topnav a.active {
    background-color: red;
    color: black;
}

#MainTitle {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

/* Validation styles for registration */

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}