<div class="container">

    <div onload="ProfileCtrl.loadProfileInfo()">

        <div class="row">

            <div class="col-lg-12">

                <div class="panel" id="box">

                    <h1 id="welcomeMessageProfile"> Welcome {{ProfileCtrl.userInfo.userName}} </h1>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-5">

                <div class="panel" id="box">

                    <div class="row">

                        <div class="col-xs-8 col-xs-offset-3">

                            <p><button class="btn btn-default " id="box" ng-show="editProfile " ng-click="ProfileCtrl.pickFile() ">Upload a photo</button></p>
                            <img ng-src="{{ProfileCtrl.userInfo.image}}">
                            <!--<img ng-src="{{ProfileCtrl.userInfo.image}}" id="profileImg">-->
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-8 col-xs-offset-3">

                            <div ng-hide="editProfile">

                                <p><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{ProfileCtrl.userInfo.userName}}</p>

                                <p><i class="fa fa-envelope" aria-hidden="true"></i>{{ProfileCtrl.userInfo.email}}</p>

                                <p><i class="fa fa-home" aria-hidden="true"></i>{{ProfileCtrl.userInfo.zipCode}}</p>

                                <p><i class="fa fa-phone-square" aria-hidden="true"></i>{{ProfileCtrl.userInfo.phone}}</p>
                            </div>
                            <button id="box" id="showEditInfobtn" class="btn btn-default" ng-hide="editProfile" ng-click="editProfile=! editProfile">Edit</button>
                            <div ng-show="editProfile" class="form">

                                <div class="form-group">
                                    <label>New User Name</label>
                                    <div class="input-group">
                                        <input type="text" ng-model="ProfileCtrl.userInfo.userName"> </div>
                                </div>

                                <div class="form-group">
                                    <label>New Password</label>
                                    <div class="input-group">
                                        <input type="password" ng-show="editProfile" ng-model="ProfileCtrl.userInfo.password">                                        </div>
                                </div>

                                <div class="form-group">
                                    <label>New Email</label>
                                    <div class="input-group">
                                        <input type="text" ng-show="editProfile" ng-model="ProfileCtrl.userInfo.email"> </div>
                                </div>

                                <div class="form-group">
                                    <label>New Zip Code</label>
                                    <div class="input-group">
                                        <input type="text" ng-show="editProfile" ng-model="ProfileCtrl.userInfo.zipCode">                                        </div>
                                </div>

                                <div class="form-group">
                                    <label>New Phone</label>
                                    <div class="input-group">
                                        <input type="text" ng-show="editProfile" ng-model="ProfileCtrl.userInfo.phone"> </div>
                                </div>
                            </div>

                            <button class="btn btn-default" ng-show="editProfile" ng-click="ProfileCtrl.editProfile()" id="box">Submit Changes</button>                            <button class="btn btn-default" ng-show="editProfile" ng-click="editProfile=! editProfile" id="box">Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">

                <button id="box" class="btn btn-default" ng-click="ProfileCtrl.yourListings()" ng-show="ProfileCtrl.showListingButton(ProfileCtrl.userInfo.landlord)">Your Listings</button>               
                 <button id="box" class="btn btn-default" ng-click="ProfileCtrl.signout()">Sign Out</button> 
                 <button id="box" class="btn btn-default" ng-click="ProfileCtrl.goAddListingPage()" ng-show="ProfileCtrl.showListingButton(ProfileCtrl.userInfo.landlord)">Add Listing</button>
            </div>
        </div>
    </div>
</div>