<div class="container-fluid">
    <div class="col-md-12" id="Send">
        <button ng-click="MsgCtrl.findRec(MsgCtrl.recipient)" type="btn btn-primary">Find Recipient</button>
        <input ng-model="MsgCtrl.recipient" placeholder="Recipient UserName"></input>
</br>
<label for="subject">Subject
<input ng-model="MsgCtrl.msgObject.Subject" placeholder="Subject"></input>
</label>
</br>
<label for="Body">Message
<input ng-model="MsgCtrl.msgObject.Body" placeholder="Enter Message"></input>
</label>
</br>
<button ng-click="MsgCtrl.sendMsg(MsgCtrl.msgObject)">Send Message</button>
<!--<input id="date" type="date" ng-model="MsgCtrl.MsgObject.DateCreated"><br>-->
</div>
</div>
<div class="container-fluid" id="past">
<div class="col-md-6">
    <label>Convert Conversation ID:
    <input ng-model="MsgCtrl.ConversationId"></input>
    </label>
    <button ng-click="MsgCtrl.Convert(MsgCtrl.ConversationId)">Find Sender/Recipient</button>
    <p>{{MsgCtrl.OtherUser}}</p>
    <ol ng-repeat="pasts in MsgCtrl.MessageHistory" class="list-group">
        <li class="list-group-item">{{pasts.convoId}}</li>
        <li class="list-group-item">{{pasts.subject}}</li>
        <li class="list-group-item">{{pasts.body}}</li>
    </ol>
</div>
</div>
<div class="container-fluid">
<div class="col-md-6">
<p>Past Messages with {{MsgCtrl.recipient}}</p>
<button ng-click="MsgCtrl.ShowMsg()">Show Past Message</button>
<ol ng-repeat="messages in MsgCtrl.PastMessages" class="list-group">
    <li class="list-group-item">Header: {{messages.subject}}</li>
    <li class="list-group-item" ng-show="MsgCtrl.fullMessage">Body: {{messages.body}}</li>
</ol>
</div>